<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseAdminLogin</servlet-name>
        <servlet-class>ResponseAdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminChangePasswordResponse</servlet-name>
        <servlet-class>adminChangePasswordResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategoriesResponse</servlet-name>
        <servlet-class>addCategoriesResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchAllCategories</servlet-name>
        <servlet-class>fetchAllCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategory</servlet-name>
        <servlet-class>deleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategory</servlet-name>
        <servlet-class>updateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editWithPhoto</servlet-name>
        <servlet-class>editWithPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editWithoutPhoto</servlet-name>
        <servlet-class>editWithoutPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperSignupResponse</servlet-name>
        <servlet-class>shopkeeperSignupResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getShopkeepers</servlet-name>
        <servlet-class>getShopkeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeShopkeeperStatus</servlet-name>
        <servlet-class>changeShopkeeperStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperLoginResponse</servlet-name>
        <servlet-class>shopkeeperLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperChangePasswordResponse</servlet-name>
        <servlet-class>shopkeeperChangePasswordResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperForgotPasswordResponse</servlet-name>
        <servlet-class>shopkeeperForgotPasswordResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperForgotPasswordResponse2</servlet-name>
        <servlet-class>shopkeeperForgotPasswordResponse2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileResponse</servlet-name>
        <servlet-class>editProfileResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPhotoResponse</servlet-name>
        <servlet-class>editPhotoResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchPhoto</servlet-name>
        <servlet-class>fetchPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSignupResponse</servlet-name>
        <servlet-class>userSignupResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responseUserLogin</servlet-name>
        <servlet-class>responseUserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userForgotPasswordResponse</servlet-name>
        <servlet-class>userForgotPasswordResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userForgotPasswordResponse2</servlet-name>
        <servlet-class>userForgotPasswordResponse2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userChangePasswordResponse</servlet-name>
        <servlet-class>userChangePasswordResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchCategories</servlet-name>
        <servlet-class>fetchCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductsResponse</servlet-name>
        <servlet-class>addProductsResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchProducts</servlet-name>
        <servlet-class>fetchProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productEditWithPhoto</servlet-name>
        <servlet-class>productEditWithPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productEditWithoutPhoto</servlet-name>
        <servlet-class>productEditWithoutPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageGalleryResponseWithPhoto</servlet-name>
        <servlet-class>manageGalleryResponseWithPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageGalleryResponseWithoutPhoto</servlet-name>
        <servlet-class>manageGalleryResponseWithoutPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageGalleryResponse</servlet-name>
        <servlet-class>manageGalleryResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchResponse</servlet-name>
        <servlet-class>searchResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchProductCategories</servlet-name>
        <servlet-class>fetchProductCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchGallery</servlet-name>
        <servlet-class>fetchGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchProducts2</servlet-name>
        <servlet-class>fetchProducts2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkuserlogin</servlet-name>
        <servlet-class>checkuserlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addreview</servlet-name>
        <servlet-class>addreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editqtyresponse</servlet-name>
        <servlet-class>editqtyresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteviewcart</servlet-name>
        <servlet-class>deleteviewcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderresponse</servlet-name>
        <servlet-class>orderresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchProducts3</servlet-name>
        <servlet-class>fetchProducts3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productdetailfetch</servlet-name>
        <servlet-class>productdetailfetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchcitiesandroid</servlet-name>
        <servlet-class>fetchcitiesandroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidOrderResponse1</servlet-name>
        <servlet-class>AndroidOrderResponse1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndoidOrderResponse2</servlet-name>
        <servlet-class>AndoidOrderResponse2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allproductnamesandroid</servlet-name>
        <servlet-class>allproductnamesandroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUsername</servlet-name>
        <servlet-class>checkUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletegalleryimg</servlet-name>
        <servlet-class>deletegalleryimg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseAdminLogin</servlet-name>
        <url-pattern>/ResponseAdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminChangePasswordResponse</servlet-name>
        <url-pattern>/adminChangePasswordResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategoriesResponse</servlet-name>
        <url-pattern>/addCategoriesResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchAllCategories</servlet-name>
        <url-pattern>/fetchAllCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategory</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategory</servlet-name>
        <url-pattern>/updateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editWithPhoto</servlet-name>
        <url-pattern>/editWithPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editWithoutPhoto</servlet-name>
        <url-pattern>/editWithoutPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperSignupResponse</servlet-name>
        <url-pattern>/shopkeeperSignupResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getShopkeepers</servlet-name>
        <url-pattern>/getShopkeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeShopkeeperStatus</servlet-name>
        <url-pattern>/changeShopkeeperStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperLoginResponse</servlet-name>
        <url-pattern>/shopkeeperLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperChangePasswordResponse</servlet-name>
        <url-pattern>/shopkeeperChangePasswordResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperForgotPasswordResponse</servlet-name>
        <url-pattern>/shopkeeperForgotPasswordResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperForgotPasswordResponse2</servlet-name>
        <url-pattern>/shopkeeperForgotPasswordResponse2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileResponse</servlet-name>
        <url-pattern>/editProfileResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPhotoResponse</servlet-name>
        <url-pattern>/editPhotoResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchPhoto</servlet-name>
        <url-pattern>/fetchPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSignupResponse</servlet-name>
        <url-pattern>/userSignupResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responseUserLogin</servlet-name>
        <url-pattern>/responseUserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userForgotPasswordResponse</servlet-name>
        <url-pattern>/userForgotPasswordResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userForgotPasswordResponse2</servlet-name>
        <url-pattern>/userForgotPasswordResponse2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userChangePasswordResponse</servlet-name>
        <url-pattern>/userChangePasswordResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchCategories</servlet-name>
        <url-pattern>/fetchCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductsResponse</servlet-name>
        <url-pattern>/addProductsResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchProducts</servlet-name>
        <url-pattern>/fetchProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productEditWithPhoto</servlet-name>
        <url-pattern>/productEditWithPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productEditWithoutPhoto</servlet-name>
        <url-pattern>/productEditWithoutPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageGalleryResponseWithPhoto</servlet-name>
        <url-pattern>/manageGalleryResponseWithPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageGalleryResponseWithoutPhoto</servlet-name>
        <url-pattern>/manageGalleryResponseWithoutPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageGalleryResponse</servlet-name>
        <url-pattern>/manageGalleryResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchResponse</servlet-name>
        <url-pattern>/searchResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchProductCategories</servlet-name>
        <url-pattern>/fetchProductCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchGallery</servlet-name>
        <url-pattern>/fetchGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchProducts2</servlet-name>
        <url-pattern>/fetchProducts2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkuserlogin</servlet-name>
        <url-pattern>/checkuserlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addreview</servlet-name>
        <url-pattern>/addreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editqtyresponse</servlet-name>
        <url-pattern>/editqtyresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteviewcart</servlet-name>
        <url-pattern>/deleteviewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderresponse</servlet-name>
        <url-pattern>/orderresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchProducts3</servlet-name>
        <url-pattern>/fetchProducts3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productdetailfetch</servlet-name>
        <url-pattern>/productdetailfetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchcitiesandroid</servlet-name>
        <url-pattern>/fetchcitiesandroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidOrderResponse1</servlet-name>
        <url-pattern>/AndroidOrderResponse1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndoidOrderResponse2</servlet-name>
        <url-pattern>/AndoidOrderResponse2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allproductnamesandroid</servlet-name>
        <url-pattern>/allproductnamesandroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUsername</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletegalleryimg</servlet-name>
        <url-pattern>/deletegalleryimg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
